.mybar{
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  background-color: transparent;
}
.site-header{
  padding: 0;
  max-width: 1280px;
  margin: 0 auto;
}

.title-area{
  float: left;
  padding: 42px, 0;
}

.title-area a:hover {
  text-decoration: none;
}
.title-area a:visited {
  text-decoration: none;
}

.custom-brand{
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2;
  color: white;
}
.mynewsize li {
  font-size: 1.6em;
  font-weight: 400;
  line-height: 2;
}
.mynew{
  color: white;
}
.pure-menu-item a:hover{
  text-decoration: none;
  color: black;
}
.pure-menu-item a:visited{
  text-decoration: none;
  color: white;
}
.myanothermenu{
  background-color: #e1e9ee;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 100px;
}
.mylink a {
  color: black;
}
.mylink a:hover {
  color: white;
  background-color: black;
}
.mylink a:visited {
  color: gray;
}
      .custom-wrapper {
          background-color: #7a8690;
          margin-bottom: 1em;
          -webkit-font-smoothing: antialiased;
          height: 5em;
          overflow: hidden;
          -webkit-transition: height 0.5s;
          -moz-transition: height 0.5s;
          -ms-transition: height 0.5s;
          transition: height 0.5s;
      }

      .custom-wrapper.open {
          height: 14em;
      }

      .custom-menu-3 {
          text-align: right;
      }

      .custom-toggle {
          width: 34px;
          height: 34px;
          position: absolute;
          top: 0;
          right: 0;
          display: none;
      }

      .custom-toggle .bar {
          background-color: white;
          display: block;
          width: 20px;
          height: 2px;
          border-radius: 100px;
          position: absolute;
          top: 18px;
          right: 7px;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          transition: all 0.5s;
      }

      .custom-toggle .bar:first-child {
          -webkit-transform: translateY(-6px);
          -moz-transform: translateY(-6px);
          -ms-transform: translateY(-6px);
          transform: translateY(-6px);
      }

      .custom-toggle.x .bar {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
      }

      .custom-toggle.x .bar:first-child {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
      }

      @media (max-width: 47.999em) {

          .custom-menu-3 {
              text-align: left;
          }

          .custom-toggle {
              display: block;
          }
          .mynewsize li{
            font-size: 1.3em;
            font-weight: 400;
          }

      }
