{{ partial "header.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
</div>
<div class="content">
  <br><br>
  <div class="pure-g">
  {{ $data := .Data }}
  {{ range $key, $value := .Data.Terms.ByCount }}
      {{ if eq $value.Name "bmw" }}
        <div style="padding:20px;" class="pure-u-1-4">
          <img src="/img/bmwlogo.jpg" class="pure-img img myimagesize" alt="">
          <div class="entry-header">
            <h3 class="entry-title" itemprop="headline">
              <a href="{{ $value.Name | urlize }}" rel="bookmark">{{ $value.Name }}</a>
            </h3>
            <p class="book-author">
              <span>&#40;{{ $value.Count }}&#41;</span>
            </p>
          </div>
        </div>
      {{ end }}
      {{ if eq $value.Name "volkswagan" }}
        <div style="padding:20px;" class="pure-u-1-4">
          <img src="/img/volkswagon.png" class="pure-img myimagesize" alt="">
          <div class="entry-header">
            <h3 class="entry-title" itemprop="headline">
              <a href="{{ $value.Name | urlize }}" rel="bookmark">{{ $value.Name }}</a>
            </h3>
            <p class="book-author">
              <span>&#40;{{ $value.Count }}&#41;</span>
            </p>
          </div>
        </div>
      {{ end }}
  {{ end }}
  </div>
</div>

{{ partial "footer.html" . }}
