<div class="">
  &nbsp; Category <br>
  &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="Cars" class="category"> Cars <br>
  &nbsp; Model <br>
  &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="1 series" class="model"> 1 Series <br>
  &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="3 series" class="model"> 3 Series <br>
  &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="5 series" class="model"> 5 Series <br>
  &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="7 series" class="model"> 7 Series <br>
  &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="X5" class="model"> X5 <br>
  &nbsp; SubModel <br>
  &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="118" class="submodel"> 118&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="120" class="submodel"> 120 &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="316" class="submodel"> 316 <br>
  &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="318" class="submodel"> 318 &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="320" class="submodel"> 320&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="316i" class="submodel"> 316i <br>
  &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="323" class="submodel"> 323&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="318i" class="submodel"> 318i &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="125" class="submodel"> 125 <br>
  &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="320i" class="submodel"> 320i &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="126" class="submodel"> 126&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="516i" class="submodel"> 516i <br>
  &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="516" class="submodel"> 516&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="518i" class="submodel"> 518i &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="518" class="submodel"> 518 <br>
  &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="520i" class="submodel"> 520i &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="520" class="submodel"> 520&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="523i" class="submodel"> 523i <br>
  &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="523" class="submodel"> 523&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="740i" class="submodel"> 740i &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="740" class="submodel"> 740 <br>
  &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="720" class="submodel"> 720 &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="723" class="submodel"> 723&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="710" class="submodel"> 710 <br>
  &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="720" class="submodel"> 720&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="770" class="submodel"> 770 &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="780" class="submodel"> 780 <br>
  &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="X5" class="submodel"> X5 &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="730" class="submodel"> 730&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="741" class="submodel"> 741 <br>
  &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="742" class="submodel"> 742
</div>
