<div class="">
  <h6><strong>Brand:</strong></h6>
  <div class="brand_my">
    <input type="checkbox" value="BMW" class="brand "> BMW <br>
    <input type="checkbox" value="volkswagan" class="brand"> volkswagan
  </div><br>
  <h6><strong>Series:</strong></h6>
  <div class="series_my">
    <input type="checkbox" value="6 Series" class="series mySearch"> 6 Series <br>
    <input type="checkbox" value="( Series" class="series mySearch"> ( Series <br>
    <input type="checkbox" value="8-Series" class="series mySearch"> 8-Series <br>
    <input type="checkbox" value="A1" class="series mySearch"> A1 <br>
  </div> <br>
  <h6><strong>Year:</strong></h6>
  <div class="year_my">
    <input type="checkbox" value="1975" class="year mySearch"> 1975 <br>
    <input type="checkbox" value="1980" class="year mySearch"> 1980 <br>
    <input type="checkbox" value="1993" class="year mySearch"> 1993 <br>
    <input type="checkbox" value="1994" class="year mySearch"> 1994 <br>
    <input type="checkbox" value="2007" class="year mySearch"> 2007 <br>
  </div><br>
  <h6><strong>Body Type:</strong></h6>
  <div class="body_my">
    <input type="checkbox" value="Coupe" class="bodytype mySearch"> Coupe <br>
    <input type="checkbox" value="Cabrio" class="bodytype mySearch"> Cabrio <br>
    <input type="checkbox" value="Hatchback" class="bodytype mySearch"> Hatchback <br>
  </div><br>
  <h6><strong>Engine:</strong></h6>
  <div class="engine_my">
    <input type="checkbox" value="1.1" class="engine mySearch"> 1.1 <br>
    <input type="checkbox" value="628 CSi" class="engine mySearch"> 628 CSi <br>
    <input type="checkbox" value="635d" class="engine mySearch"> 635d <br>
    <input type="checkbox" value="840i" class="engine mySearch"> 840i <br>
    <input type="checkbox" value="850i" class="engine mySearch"> 850i <br>
  </div><br>
  <h6><strong>Fuel Type:</strong></h6>
  <div class="fuel_my">
    <input type="checkbox" value="Petrol" class="fueltype mySearch"> Petrol <br>
    <input type="checkbox" value="Diesel" class="fueltype mySearch"> Diesel <br>
  </div><br>
  <h6><strong>Manual:</strong></h6>
  <div class="manual_my">
    <input type="checkbox" value="Another Manual" class="manual mySearch"> Another Manual <br>
    <input type="checkbox" value="Another One Manual" class="manual mySearch"> Another One Manual <br>
    <input type="checkbox" value="ETM" class="manual mySearch"> ETM <br>
    <input type="checkbox" value="OM" class="manual mySearch"> OM <br>
    <input type="checkbox" value="manual_type" class="manual mySearch"> manual_type <br>
  </div><br>
  <h6><strong>Price:</strong></h6>
  <div class="price_my">
    <input type="checkbox" value="10" class="price mySearch"> 10 <br>
    <input type="checkbox" value="12.99" class="price mySearch"> 12.99<br>
    <input type="checkbox" value="26.99" class="price mySearch"> 26.99 <br>
    <input type="checkbox" value="9.99" class="price mySearch"> 9.99 <br>
  </div>
</div>
