<footer>
  <div class="container">
    <div class="row footer_title">
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        {{ range (where .Site.Pages "Section" "footer") }}
          {{ if eq .Title "Footers" }}

          {{else}}
              {{ .Content | safeHTML }}
          {{end}}
        {{ end }}
        <div class="pure-menu pure-menu-horizontal">
          {{ range (where .Site.Pages "Section" "landpage") }}
            {{ if eq .Title "Landpages" }}

            {{else}}
                <a href="{{ .URL }}" class="pure-menu-heading pure-menu-link">{{ .Title }}</a>
            {{end}}
          {{ end }}

        </div>
      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>
</footer>
</div>
<!-- </div> -->
<script src="{{ .Site.BaseURL }}js/ui.js"></script>
<script>
      (function (window, document) {
      var mymenu = document.getElementById('mymenu'),
          WINDOW_CHANGE_EVENT = ('onorientationchange' in window) ? 'orientationchange':'resize';

      function toggleHorizontal() {
          [].forEach.call(
              document.getElementById('mymenu').querySelectorAll('.custom-can-transform'),
              function(el){
                  el.classList.toggle('pure-mymenu-horizontal');
              }
          );
      };

      function toggleMenu() {
          // set timeout so that the panel has a chance to roll up
          // before the mymenu switches states
          if (mymenu.classList.contains('open')) {
              setTimeout(toggleHorizontal, 500);
          }
          else {
              toggleHorizontal();
          }
          mymenu.classList.toggle('open');
          document.getElementById('toggle').classList.toggle('x');
      };

      function closeMenu() {
          if (mymenu.classList.contains('open')) {
              toggleMenu();
          }
      }

      document.getElementById('toggle').addEventListener('click', function (e) {
          toggleMenu();
          e.preventDefault();
      });

      window.addEventListener(WINDOW_CHANGE_EVENT, closeMenu);
      })(this, this.document);

      </script>
      <script type="text/javascript">
        $(document).ready(function(){
          // var client = algoliasearch("YZO8M6AZ6J", "847f24047332edf2bb6a0c1f0181b83e");
          // var index = client.initIndex('new_allcar');
          // index.setSettings({
          //   attributeForDistinct: 'manualBrand.en'
          // });
          // index.search({
          //   query: '*'
          // }).then(res => {
          //   // console.log(res);
          //   var Brand = ""
          //   $.each(res.hits, function( i, val ){
          //     Brand += "<input type='checkbox' value='"+val['manualBrand'].en+"' class='brand'> "+val['manualBrand'].en+" <br>";
          //   });
          //   // alert(Brand);
          //   $(".brand_my").html(Brand);
          //   // console.log(Brand);
          // });
          //
          // index.setSettings({
          //   attributeForDistinct: 'manualSerie.en'
          // });
          // index.search({
          //   query: '*'
          // }).then(res => {
          //   console.log(res);
          //   var Series = ""
          //   $.each(res.hits, function( i, val ){
          //     Series += "<input type='checkbox' value='"+val['manualSerie'].en+"' class='brand'> "+val['manualSerie'].en+" <br>";
          //   });
          //   $(".series_my").html(Series);
          // });

        });
      </script>
{{ partial "google_analytics.html" . }}
</body>
</html>
