<br>
  <div class="pure-g mobileviewsidebar" style="background-color:#e1e9ee;">
      <div class="pure-u-24-24">
        <!-- {{ partial "filter.html" . }} -->
      </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-7-24 my_rightbar">
      <!-- {{ partial "filter.html" . }} -->
    </div>
      <div class="pure-u-17-24">
        <div class="container">
          <div class="row" id="productdata">
            {{ $kind := .Title }}
            {{ range (where .Site.Pages "Section" "manual") }}
              {{ if eq .Title "Manuals" }}

              {{else}}
                {{ if eq .Params.brand $kind }}
                  {{ partial "productpage.html" . }}
                {{end}}
              {{end}}
            {{ end }}
          </div>
        </div>
      </div>
</div>
