<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h4>{{ .Title }}</h4>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><img src="{{ .Params.blogimage.url }}" class="pure-img" alt=""></div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{ .Content }}
    </div>
  </div>
  <div class="row" style="padding:20px;">
    {{ range .Params.imagegallery }}
      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
        <img src="{{ .url }}" style="width:365px;height:365px;" class="pure-img">
      </div>
    {{ end }}
  </div>
</div>
